table {
    width: 100%;
    border-spacing: 25px;
}

th {
    text-align: left;
}

.budget {
font-family: 'Crimson Text', serif;
}

tr.sub-category td:first-child {
    padding-left: 2%;
}

.name {
    text-transform: capitalize;
}

.edit,
.delete {
    margin-left: 10%;
}
