article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden; }

* {
  margin: 0; }

body {
  font-family: 'Lato', sans-serif; }

.hidden {
  display: none; }

.wrapper {
  width: 90%;
  max-width: 1600px;
  margin: 0 auto; }

.wrapper_inner {
  width: 90%;
  padding: 2.5%; }

@media (max-width: 1198px) {
  .wrapper_inner {
    padding: 1.5%; }
  h2 {
    margin-bottom: 1.5%; }
  h1 {
    margin-top: 1.5%; } }

.table-spacing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

h1, h2 {
  margin-bottom: 2.5%; }

h1 {
  margin-top: 2.5%; }

.flex-row,
.input,
.output {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.input,
.output {
  border: 1px solid dodgerblue;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.input {
  width: 45%;
  margin-right: 5%; }

@media (max-width: 1198px) {
  .input {
    margin-right: 2.5%; } }

.output {
  width: 50%; }

@media (max-width: 1121px) {
  h1 {
    margin-left: 10%; }
  .flex-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .input,
  .output {
    width: 80%; }
  .input {
    margin-right: 0;
    margin-bottom: 3%; } }

input {
  padding-left: 1.5%; }

input,
select {
  margin-bottom: 2.5%; }

select {
  padding-left: 0.5%; }

.expense select {
  margin-right: 2.5%;
  width: 55%; }

.expense input {
  width: calc(45% - 2.5%); }

.amount input::-webkit-inner-spin-button,
.amount input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; }

.amount input {
  -moz-appearance: textfield; }

.submit-button,
.edit-button {
  width: 25%;
  margin-bottom: 0; }

table {
  width: 100%;
  border-spacing: 25px; }

th {
  text-align: left; }

.budget {
  font-family: 'Crimson Text', serif; }

tr.sub-category td:first-child {
  padding-left: 2%; }

.name {
  text-transform: capitalize; }

.edit,
.delete {
  margin-left: 10%; }
